= render "user/shared/header"
%br
%h2 単語一覧
= link_to "+", new_word_path
%br
%table
  - @words.each do |word|
    %tr
      %th= link_to word.word, word_path(word), data: { turbo_frame: "modal" }
      %th
        = button_to word_path(word), method: :delete do
          %i.fa-solid.fa-delete-left