%h1 OptiMemo
- if user_signed_in?
  = button_to "LOG_OUT", destroy_user_session_path, method: :delete
  = current_user.name
- else
  = link_to "SIGN_UP", new_user_registration_path
  = link_to "LOG_IN", new_user_session_path